// New Palette
$transparentBlack: rgba(0, 0, 0, 0.1);
$primaryColor: #79a9d1;
$secondaryColor: #fffbfe;
$successColor: #b5dc68;
$dangerColor: #f38484;
$contrastColor: #1446a0;

$black: #4f4f4f;
$white: #ebf2fa;

@mixin flexCenter($justifyContent) {
  display: flex;
  align-items: center;
  justify-content: $justifyContent;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 93.75%; //15px
}
body {
  flex-direction: column;
  background-color: $secondaryColor;
  font-family: 'Poppins', sans-serif;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.container {
  width: Min(90vw, 800px);
  margin: 0 auto;
}

// Titles ==============================

h2 {
  margin-top: 3.2rem;
  margin-bottom: 0.8rem;
  color: $primaryColor;
  font-weight: 400;
}

// Links & Buttons =====================

a {
  text-decoration: none;
}

.button {
  color: $white;
  background-color: $primaryColor;
  border-radius: 0.25rem;
  border: none;
  cursor: pointer;
}

.button.new {
  color: #fff;
  background-color: $primaryColor;
  padding: 0.75rem;
  border-radius: 0.25rem;
  display: inline-block;
  margin-bottom: 1rem;
  transition: all 0.2s ease;

  &:hover {
    background-color: $secondaryColor;
    color: $primaryColor;
    border: 0.5px solid $primaryColor;
    transform: scale(1.1);

    transition: all 0.3s ease;
  }
}
.button.submit {
  padding: 1rem 2rem;
  font-size: 1.2rem;
}
.button.cancel {
  color: $dangerColor;
  background: none;
  padding: 0.5rem;
  font-size: 1rem;
  opacity: 0.7;

  &:hover {
    opacity: 1;
  }
}
// Header ==============================

header {
  background: $primaryColor;
  padding: 4rem 2rem 8rem;
  text-align: center;

  #logo {
    color: rgba(255, 255, 255, 0.9);
    font-weight: bold;
    letter-spacing: 0.1rem;
    font-size: 2.5rem;

    span {
      color: $contrastColor;
      letter-spacing: -0.1rem;

      &:first-child {
        font-size: 1.75rem;
      }
    }
  }
}

// Balance ==============================

#balance {
  margin-top: -6rem;

  h2 {
    margin-top: 0;
  }
}

// Cards ==============================

.card {
  background-color: #fff;
  padding: 1.5rem 2rem;
  border-radius: 0.25rem;
  margin-bottom: 1.2rem;
  box-shadow: 0 5px 10px $transparentBlack;

  h3 {
    font-weight: normal;
    font-size: 1rem;
    color: $black;
    @include flexCenter(space-between);

    img {
      width: 2rem;
    }
  }

  p {
    font-size: 2rem;
    line-height: 3rem;
    margin-top: 1rem;
    color: $black;
  }
}

.card#total {
  background: $successColor;
  p,
  h3 {
    color: #fff;
  }
}

// Table ==============================
#transaction {
  margin-bottom: 2rem;
  display: block;
  overflow-x: auto;
  width: 100%;
}

#data-table {
  width: 100%;
  border-spacing: 0 0.5rem;

  img {
    cursor: pointer;
  }

  td {
    background: #fff;
    padding: 1rem 2rem;
    border-bottom: 3px solid $contrastColor;
  }

  td.description {
    font-weight: bold;
    color: $black;
  }

  td.income {
    opacity: 1;
    color: $successColor;
  }

  td.expense {
    color: $dangerColor;
  }

  th {
    background: $primaryColor;
    color: #fff;

    padding: 0.5rem 2rem;
    font-weight: normal;
  }

  tbody tr {
    opacity: 0.8;
    transition: all 0.15s ease;
    &:hover {
      opacity: 1;
      transition: all 0.15s ease;
    }
  }
}

table thead tr th,
table tbody tr td {
  &:first-child {
    border-radius: 0.25rem 0 0 0.25rem;
    text-align: left;
  }
  &:nth-child(2) {
    text-align: center;
  }

  &:nth-child(3) {
    text-align: right;
  }

  &:last-child {
    text-align: center;
    border-radius: 0 0.25rem 0.25rem 0;
  }
}

// Modal ==============================

.modal-overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  @include flexCenter(center);
  opacity: 0;
  visibility: hidden;
  z-index: 99;

  .modal {
    background: #fff;
    padding: 2.4rem;
    width: 90%;
    max-width: 600px;
    border-radius: 0.2rem;
    position: relative;
  }

  #form {
    width: 95%;

    h2 {
      margin-top: 0;
      color: $successColor;
    }

    .input-group {
      margin: 2rem 0;

      small {
        opacity: 0.4;
      }

      input {
        border: none;
        border-bottom: 1px solid $primaryColor;
        border-radius: 0.2rem;
        padding: 0.8rem;
        width: 100%;
      }
    }
  }
  .actions {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 0;
  }
}

.modal-overlay.active {
  opacity: 1;
  visibility: visible;
}

// Footer ==============================
footer {
  text-align: center;
  color: $black;
  padding: 1rem;

  p {
    margin-bottom: 1rem;
  }
}

// Responsive ==============================

@media (min-width: 800px) {
  html {
    font-size: 87.5%; //14px
  }

  #balance {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
  }
}
