* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 93.75%;
}

body {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #ebf2fa;
  font-family: 'Poppins', sans-serif;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.container {
  width: Min(90vw, 800px);
  margin: 0 auto;
}

h2 {
  margin-top: 3.2rem;
  margin-bottom: 0.8rem;
  color: #2a57b9;
  font-weight: 400;
}

a {
  text-decoration: none;
}

.button {
  color: #ebf2fa;
  background-color: #82ba18;
  border-radius: 0.25rem;
  border: none;
  cursor: pointer;
}

.button.new {
  color: #ebf2fa;
  background-color: #2a57b9;
  padding: 0.75rem;
  border-radius: 0.25rem;
  display: inline-block;
  margin-bottom: 1rem;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.button.new:hover {
  background-color: #ebf2fa;
  color: #2a57b9;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  -webkit-transform: translateY(-0.25rem) scale(1.1);
          transform: translateY(-0.25rem) scale(1.1);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.button.submit {
  padding: 1rem 2rem;
  font-size: 1.2rem;
}

.button.cancel {
  color: #ef3e36;
  background: none;
  padding: 0.5rem;
  font-size: 1rem;
  opacity: 0.7;
}

.button.cancel:hover {
  opacity: 1;
}

header {
  background: #82ba18;
  padding: 4rem 2rem 8rem;
  text-align: center;
}

header #logo {
  color: #ebf2fa;
  font-weight: bold;
}

header #logo span {
  color: #2a57b9;
}

#balance {
  margin-top: -6rem;
}

#balance h2 {
  color: #ebf2fa;
  margin-top: 0;
}

.card {
  background-color: #fff;
  padding: 1.5rem 2rem;
  border-radius: 0.25rem;
  margin-bottom: 1.2rem;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.card h3 {
  font-weight: normal;
  font-size: 1rem;
  color: #2e282a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.card h3 img {
  width: 2rem;
}

.card p {
  font-size: 2rem;
  line-height: 3rem;
  margin-top: 1rem;
  color: #2e282a;
}

.card#total {
  background: #2a57b9;
}

.card#total p,
.card#total h3 {
  color: #ebf2fa;
}

#transaction {
  margin-bottom: 2rem;
  display: block;
  overflow-x: auto;
  width: 100%;
}

#data-table {
  width: 100%;
  border-spacing: 0 0.5rem;
}

#data-table td {
  background: #fff;
  padding: 1rem 2rem;
  border-bottom: 3px solid #2a57b9;
}

#data-table td.description {
  font-weight: bold;
  color: #2e282a;
}

#data-table td.income {
  color: #82ba18;
}

#data-table td.expense {
  color: #ef3e36;
}

#data-table th {
  background: #2a57b9;
  color: #fff;
  padding: 0.5rem 2rem;
  font-weight: normal;
}

#data-table tbody tr {
  opacity: 0.8;
  -webkit-transition: all 0.15s ease;
  transition: all 0.15s ease;
}

#data-table tbody tr:hover {
  opacity: 1;
  -webkit-transition: all 0.15s ease;
  transition: all 0.15s ease;
}

table thead tr th:first-child,
table tbody tr td:first-child {
  border-radius: 0.25rem 0 0 0.25rem;
  text-align: left;
}

table thead tr th:nth-child(2),
table tbody tr td:nth-child(2) {
  text-align: center;
}

table thead tr th:nth-child(3),
table tbody tr td:nth-child(3) {
  text-align: right;
}

table thead tr th:last-child,
table tbody tr td:last-child {
  border-radius: 0 0.25rem 0.25rem 0;
}

.modal-overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  opacity: 0;
  visibility: hidden;
  z-index: 99;
}

.modal-overlay .modal {
  background: #ebf2fa;
  padding: 2.4rem;
  width: 90%;
  max-width: 600px;
  border-radius: 0.2rem;
  position: relative;
}

.modal-overlay #form {
  width: 95%;
}

.modal-overlay #form h2 {
  margin-top: 0;
}

.modal-overlay #form .input-group {
  margin: 2rem 0;
}

.modal-overlay #form .input-group small {
  opacity: 0.4;
}

.modal-overlay #form .input-group input {
  border: none;
  border-radius: 0.2rem;
  padding: 0.8rem;
  width: 100%;
}

.modal-overlay .actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-bottom: 0;
}

.modal-overlay.active {
  opacity: 1;
  visibility: visible;
}

footer {
  text-align: center;
  color: #2e282a;
  padding: 1rem;
}

footer p {
  margin-bottom: 1rem;
}

@media (min-width: 800px) {
  html {
    font-size: 87.5%;
  }
  #balance {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
  }
}
/*# sourceMappingURL=app.css.map */